<!-- I looked at a reference from MEN STACK AUTH LESSON  -->

<% if (user) { %>
<h1>Hello <%= user.username %>!</h1>
<ul>
  <li>Name: <%= user.firstName %></li>
  <li>Last Name: <%= user.lastName %></li>
  <li>Email address: <%= user.email %></li>
<% if (user.image) { %>
  <img src="/uploads/<%= user.image %>" alt="Profile Picture" width="150" />
<% } else { %>
  <img src="/uploads/default.jpg" alt="Profile Picture" width="150" />
<% } %>
<% } %>


