<!-- I looked at a reference from MEN STACK AUTH LESSON  -->

<% if (user) { %>
<h1>Hello <%= user.username %>!</h1>
<ul>
  <li>Name: <%= user.firstName %></li>
  <li>Last Name: <%= user.lastName %></li>
  <li>Email address: <%= user.email %></li>
  <li><img src="/profile/<%= user.image %>" alt="User Image" /></li>
</ul>
<% } else { %>
<h1>User not Found, Sign in!</h1>
<% } %>
