<h1>Hello <%= user.username %></h1>>
<ul>
  <li>First Name: <%= user.firstName %></li>
  <li>last Name <%= user.lastName %></li>
  <li>Email <%= user.email %></li>
  <li><img src="<%= user.image %>" alt="User Image"></li>
</ul>
